/* Navbar */

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: stretch;
  height: 4em;
  background-color: #fff;
  margin: 0;
  overflow: hidden;
  z-index: 500;
}

.nav-1 {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.nav-2 {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;
}

.logo {
  /* margin: 0.2em 0.2em 0.2em 1.5em; */
  margin-left: 1.5em;
  height: 100%;
}

.nav-item {
  width: 3em;
  cursor: pointer;
}

.nav-item:hover {
  transform: translate(-5%, -5%);
}

#search-form {
  justify-content: right;
  background-color: #f4f4f4;
  border-radius: 1.5em;
  width: 15em;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: #355036;
  border-width: 2px;
  border-style: solid;
  overflow: hidden;
  margin: auto 1em;
}

#search {
  all: unset;
  font: 16px system-ui;
  color: #000000;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
  text-align: center;
}

.search-button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

svg {
  color: #a79510;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

/* Options */

.options {
  display: flex;
  justify-content: flex-end;
  background-color: #e9e9e9;
}

/* sort */

.sort {
  height: 2em;
  margin: 1em;
  cursor: pointer;
}

.sort:hover {
  transform: translate(-5%, -5%);
}

.sort-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #e9e9e9;
  padding: 0.5em 1em 2em;
  z-index: 100;
  transition: all 0.5s;
  border: solid #dbc412 8px;
  border-bottom-left-radius: 25px;
}

.sort-title {
  font-size: 2em;
}

.sort-item:hover {
  background-color: #b8bd7d;
}

.chosen {
  background-color: #afb754;
}

/* #sort {
  justify-content: right;
  background-color: #fff;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #355036;
  border-width: 1px;
  border-style: solid;
  margin: 1em;
  padding: 0.3em 0;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;
  height: 1em;
} */

/* .sort-divider {
  margin: 0;
} */

/* .sort-option {
  border: 1px;
  border-style: solid;
} */

/* Footer */

footer {
  background-color: #000;
  color: #fff;
  height: 3em;
  display: flex;
  align-items: center;
}

footer p {
  margin: auto;
}

/*
  Card Book level
*/

body {
  margin: 0;
}

.cards-container {
  padding: 2em;
  margin: 0;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #e9e9e9;
}

/*
  Card level
*/

.card-inner {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  margin: 7px 14px;
  font-family: 'Kanit', sans-serif;
  text-align: left;
  font-size: 1em;
}

.card-outline {
  border: solid #dbc412 6px;
  width: 263px;
  height: 525px;
  border-radius: 18px;
  display: block;
  box-shadow: rgb(38, 57, 77) 5px 20px 30px -10px;
  overflow: auto;
  transition: scale 0.5s;
}

.card-outline:hover {
  scale: 1.25;
}

.animal-image {
  width: 230px;
  max-height: 187px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid #dbc412 3px;
  border-radius: 3px;
}

/*
Information level
*/

p {
  margin: 3px 11px;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 0.77rem;
}

ul {
  padding: 0;
  margin: 3px 11px;
}

li {
  list-style: none;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 0.77rem;
}

li span {
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  font-size: 0.77rem;
}

hr {
  height: 1px;
  background-color: #000;
  border: none;
  margin: 0 11px;
}

.info-outline {
  margin: 7px 14px 14px;
  border-radius: 3px;

}

.fact {
  padding-top: 11px;
  font-style: italic;
  font-size: 0.77rem;
}

.description {
  padding-bottom: 3px;
}

/* Card colors */

/* Green */

.habitat-green.card-outline {
  background: linear-gradient(135deg, rgba(56, 183, 64, 1) 0%, rgba(112, 189, 20, 1) 36%, rgba(29, 101, 8, 1) 69%, rgba(56, 183, 64, 1) 100%);
}

.habitat-green .info-outline {
  background: linear-gradient(135deg, rgba(162, 224, 89, 1) 0%, rgba(31, 203, 94, 1) 36%, rgba(76, 225, 33, 1) 69%, rgba(85, 220, 157, 1) 100%);
  border: solid #a0cf51 3px;
}

/* Blue */

.habitat-blue.card-outline {
  background: linear-gradient(135deg, rgb(56, 81, 183) 0%, rgb(20, 76, 189) 36%, rgb(8, 23, 101) 69%, rgb(56, 94, 183) 100%);
}

.habitat-blue .info-outline {
  background: linear-gradient(135deg, rgb(89, 150, 224) 0%, rgb(31, 85, 203) 36%, rgb(33, 94, 225) 69%, rgb(85, 177, 220) 100%);
  border: solid #cbcf51 3px;
}

/* Brown */

.habitat-brown.card-outline {
  background: linear-gradient(135deg, rgb(183, 139, 56) 0%, rgb(189, 116, 20) 36%, rgb(101, 61, 8) 69%, rgb(183, 134, 56) 100%);
}

.habitat-brown .info-outline {
  background: linear-gradient(135deg, rgb(224, 181, 89) 0%, rgb(203, 137, 31) 36%, rgb(225, 148, 33) 69%, rgb(220, 168, 85) 100%);
  border: solid #cbcf51 3px;
}

/* Red */

.habitat-red.card-outline {
  background: linear-gradient(135deg, rgb(183, 56, 56) 0%, rgb(189, 20, 20) 36%, rgb(101, 8, 8) 69%, rgb(183, 56, 56) 100%);
}

.habitat-red .info-outline {
  background: linear-gradient(135deg, rgb(224, 89, 89) 0%, rgb(203, 31, 31) 36%, rgb(225, 33, 33) 69%, rgb(220, 85, 85) 100%);
  border: solid #cbcf51 3px;
}

/* Grey */

.habitat-grey.card-outline {
  background: linear-gradient(135deg, rgb(182, 182, 183) 0%, rgb(108, 108, 108) 36%, rgb(70, 70, 70) 69%, rgb(189, 189, 189) 100%);
}

.habitat-grey .info-outline {
  background: linear-gradient(135deg, rgb(218, 218, 218) 0%, rgb(185, 185, 185) 36%, rgb(222, 222, 222) 69%, rgb(220, 220, 221) 100%);
  border: solid #cbcf51 3px;
}

/* Yellow */

.habitat-yellow.card-outline {
  background: linear-gradient(135deg, rgb(175, 183, 56) 0%, rgb(189, 189, 20) 36%, rgb(98, 101, 8) 69%, rgb(179, 183, 56) 100%);
}

.habitat-yellow .info-outline {
  background: linear-gradient(135deg, rgb(219, 224, 89) 0%, rgb(197, 203, 31) 36%, rgb(206, 225, 33) 69%, rgb(216, 220, 85) 100%);
  border: solid #cbcf51 3px;
}

/* modals */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.hidden {
  display: none;
}