/* Navbar */

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  height: 4em;
  background-color: #fff;
  margin: 0;
  overflow: hidden;
}

.nav-1 {
  width: 33%;
  margin: 0;
  padding: 0;
}

.nav-2 {
  width: 33%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;
}

.nav-3 {
  width: 33%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;
}

.logo {
  /* margin: 0.2em 0.2em 0.2em 1.5em; */
  margin-left: 1.5em;
  height: 100%;
}

.home {
  width: 10%;
  width: 3em;
  cursor: pointer;
  margin-left: 45%;
}

#search-form {
  justify-content: right;
  background-color: #f4f4f4;
  margin: auto 1em auto auto;
  border-radius: 1.5em;
  width: 15em;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: #355036;
  border-width: 2px;
  border-style: solid;
  overflow: hidden;
}

#search {
  all: unset;
  font: 16px system-ui;
  color: #000000;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
  text-align: center;
}

.search-button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

svg {
  color: #a79510;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

/* Footer */

footer {
  background-color: #000;
  color: #fff;
  height: 3em;
  display: flex;
  align-items: center;
}

footer p {
  margin: auto;
}

/*
  Card Book level
*/

body {
  margin: 0;
}

.cards-container {
  padding: 2em;
  margin: 0;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #e9e9e9;
}

/*
  Card level
*/

.card-inner {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  margin: 10px 20px;
  font-family: 'Kanit', sans-serif;
  text-align: left;
}

.card-outline {
  border: solid #dbc412 8px;
  width: 350px;
  height: 700px;
  border-radius: 25px;
  display: block;
  box-shadow: 7px 5px #cecece;
  overflow: auto;
}

.animal-image {
  width: 300px;
  max-height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid #dbc412 5px;
  border-radius: 5px;
}

/*
Information level
*/

p {
  margin: 5px 15px;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
}

ul {
  padding: 0;
  margin: 5px 15px;
}

li {
  list-style: none;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
}

li span {
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
}

hr {
  height: 1px;
  background-color: #000;
  border: none;
  margin: 0 15px;
}

.info-outline {
  margin: 10px 20px 20px;
  border-radius: 5px;

}

.fact {
  padding-top: 15px;
  font-style: italic;
}

.description {
  padding-bottom: 5px;
}

/* Card colors */

/* Green */

.habitat-green.card-outline {
  background: linear-gradient(135deg, rgba(56, 183, 64, 1) 0%, rgba(112, 189, 20, 1) 36%, rgba(29, 101, 8, 1) 69%, rgba(56, 183, 64, 1) 100%);
}

.habitat-green .info-outline {
  background: linear-gradient(135deg, rgba(162, 224, 89, 1) 0%, rgba(31, 203, 94, 1) 36%, rgba(76, 225, 33, 1) 69%, rgba(85, 220, 157, 1) 100%);
  border: solid #a0cf51 5px;
}

/* Blue */

.habitat-blue.card-outline {
  background: linear-gradient(135deg, rgb(56, 81, 183) 0%, rgb(20, 76, 189) 36%, rgb(8, 23, 101) 69%, rgb(56, 94, 183) 100%);
}

.habitat-blue .info-outline {
  background: linear-gradient(135deg, rgb(89, 150, 224) 0%, rgb(31, 85, 203) 36%, rgb(33, 94, 225) 69%, rgb(85, 177, 220) 100%);
  border: solid #cbcf51 5px;
}

/* Brown */

.habitat-brown.card-outline {
  background: linear-gradient(135deg, rgb(183, 139, 56) 0%, rgb(189, 116, 20) 36%, rgb(101, 61, 8) 69%, rgb(183, 134, 56) 100%);
}

.habitat-brown .info-outline {
  background: linear-gradient(135deg, rgb(224, 181, 89) 0%, rgb(203, 137, 31) 36%, rgb(225, 148, 33) 69%, rgb(220, 168, 85) 100%);
  border: solid #cbcf51 5px;
}

/* Red */

.habitat-red.card-outline {
  background: linear-gradient(135deg, rgb(183, 56, 56) 0%, rgb(189, 20, 20) 36%, rgb(101, 8, 8) 69%, rgb(183, 56, 56) 100%);
}

.habitat-red .info-outline {
  background: linear-gradient(135deg, rgb(224, 89, 89) 0%, rgb(203, 31, 31) 36%, rgb(225, 33, 33) 69%, rgb(220, 85, 85) 100%);
  border: solid #cbcf51 5px;
}

/* Grey */

.habitat-grey.card-outline {
  background: linear-gradient(135deg, rgb(182, 182, 183) 0%, rgb(108, 108, 108) 36%, rgb(70, 70, 70) 69%, rgb(189, 189, 189) 100%);
}

.habitat-grey .info-outline {
  background: linear-gradient(135deg, rgb(218, 218, 218) 0%, rgb(185, 185, 185) 36%, rgb(222, 222, 222) 69%, rgb(220, 220, 221) 100%);
  border: solid #c3c4b3 5px;
}

/* Yellow */

.habitat-yellow.card-outline {
  background: linear-gradient(135deg, rgb(175, 183, 56) 0%, rgb(189, 189, 20) 36%, rgb(98, 101, 8) 69%, rgb(179, 183, 56) 100%);
}

.habitat-yellow .info-outline {
  background: linear-gradient(135deg, rgb(219, 224, 89) 0%, rgb(197, 203, 31) 36%, rgb(206, 225, 33) 69%, rgb(216, 220, 85) 100%);
  border: solid #cbcf51 5px;
}